@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #323232;
    width: 100%;
    position: relative;
    margin: 2px;
}

header>img {
    height: 50px;
    position: absolute;
    bottom: 17px;
    left: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    gap: 5px;
}

.title>h2 {
    font-size: 1.9rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 550;
    font-style: normal;
    letter-spacing: 1px;
}

main {
    display: flex;
    background-color: #dec3b3;
    margin: 1px;
    /* height: 75vh; */
}


.progress-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    width: 50%;
    gap: 20px;
}

.progress-ring p {
    font-size: 1.2rem;
    color: #323232;
}

.progress-ring svg {
    transform: rotate(-90deg);
}

#progressCircle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s linear;
}

.timer-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 50%;
}

.modeSelector-btns {
    display: flex;
    gap: 40px;
}

#pomodoro,
#customize {
    padding: 10px;
    border-radius: 7px;
    font-size: 1.1rem;
    border: 1.1px solid #323232;
    background-color: white;
}

#pomodoro:hover,
#customize:hover {
    background-color: #7e7d7d;
    cursor: pointer;
}

.customTimeContainer input {
    padding: 5px;
}

.customTimeContainer button {
    padding: 5px 9px;
    border-radius: 7px;
    border: 1px solid #323232;
}

.customTimeContainer button:hover {
    background-color: #7e7d7d;
    cursor: pointer;

}


.timer-controls p {
    font-size: 5rem;
    font-weight: 700;
    color: #323232;
}


.timer-controls>div {
    font-size: 2rem;
    color: #323232;
}

.timer-btn {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

#startbtn:hover,
#pausebtn:hover,
#resetbtn:hover {
    background-color: #7e7d7d;
    cursor: pointer;
}


#startbtn img {
    height: 39px;
}

#pausebtn {
    visibility: hidden;
}


.timer-btn button {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    border-radius: 7px;
    border: none;
    background-color: white;
    border: 1.4px solid #323232;

}


.distraction-summary {
    display: flex;
    height: 45vh;
    /* border: 2px solid red; */
    justify-content: space-between;
    color: white;
    margin: 1px
}

.distraction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #dec3b3;
    height: auto;
    width: 44.9%;
    margin: 2px;
}

.distraction h3 {
    font-size: 1.5rem;
    color: #323232;
}

.distraction p {
    font-size: 1.2rem;
    color: #323232;
}

.distraction-btns button {
    color: black;
    background-color: white;
    padding: 7px;
    margin: 0 5px;
    border: none;
    border-radius: 7px;
    border: 0.9px solid #323232;
}

.distraction-btns button:hover {
    background-color: #7e7d7d;
    cursor: pointer;
}

#summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dec3b3;
    gap: 20px;
    height: auto;
    width: 54.9%;
    padding: 10px 0;
    margin: 2px;
}

#summary h3 {
    font-size: 1.5rem;
    color: #323232;
}

#summary p {
    color: #323232;
}



@media (max-width: 1200px) {
    .title h2 {
        font-size: 1.7rem;
    }

    .title p {
        font-size: 1rem;
    }

    header>img {
        height: 40px;
        bottom: 22px;
    }

    .distraction-summary {
        display: flex;
        flex-direction: column;
    }

    .distraction {
        width: auto;
        height: 50vh;
    }

    #summary {
        width: auto;
        height: 60vh;
    }
}

@media (max-width: 550px) {
    .title h2 {
        font-size: 1.5rem;
    }

    .title p {
        font-size: 0.9rem;
    }

    header>img {
        height: 35px;
        bottom: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .timer-controls {
        width: auto;
        height: 45vh;
    }

    .progress-ring {
        width: auto;
        height: 45vh;
    }

    .distraction-summary {
        display: flex;
        flex-direction: column;
    }

    .distraction {
        width: auto;
        height: 20vh;
    }

    #summary {
        width: auto;
        height: 25vh;
    }
}